- @flights.map.with_index do |flight, idx|
	.panel.panel-default
		.flight-panel.panel-heading.gray-md.row{ data: { toggle: 'collapse', target: "#flight-dtl#{idx}"}}
			.col-xs-3.col-sm-1.col-md-1.col-md-offset-1.cntr
				%span
					-# = Time.at(flight.departure_date).strftime("%B %e %Y")
					= flight.departure_date.to_datetime.strftime("%B %e %Y")
			.col-xs-2.col-sm-3.col-md-2.cntr
				%span.gray-md 
					Departure:
					-# = DateTime.parse(flight.departure_date).strftime("%I:%M %p")
					= flight.departure_date.strftime("%b %d, %I:%M%P")
					-# = flight.departure_date.to_datetime.strftime("%I:%M %p")
					-# %br
					-# Arrival:
					-# = Time.at(flight["a_time"]).strftime("%I:%M %p")
			.col-xs-3.col-sm-2.col-md-2.cntr
				%span.gray-md 
					= "#{flight.origin.CityName } (#{flight.origin.Name})" 
					%br 
					= "#{flight.destination[0].CityName } (#{flight.destination[0].Name})"
			.col-xs-3.col-sm-2.col-md-2{ align:"center"}
				- flight.carriers[0..1].map do |airline|						
					%div.airline-cont{ align:"center"}
						-# = image_tag airline['logo_sm'], class:"airline-img"
						%p.gray-sm{ align:"center"}
							= airline.Name
							- if airline == flight.carriers[1] && flight.carriers.length > 2
								%p.gray-md ... 	
			.col-xs-3.col-sm-3.col-md-1.cntr
				%span.gray-md
					Duration:
					-# %br
					-# =  Time.at(flight["a_time"] - flight["d_time"]).utc.strftime("%-Hh, %-Mm") 	
			.col-xs-3.col-sm-3.col-md-2.cntr
				%span{style: "font-weight: bold;"} 
					= number_to_currency(flight.price, precision:1)
					USD
		.panel-body.gray-md.row.collapse{:id => "flight-dtl#{idx}"}
			.col-md-6
				%strong Outbound
				-# = render partial: "results_dtl",  locals: { routes: flight["routes"], rtrn:0 } 		
			.col-md-6 
				%strong Return
				-# = render partial: "results_dtl",  locals: { routes: flight["routes"], rtrn:1 } 						